<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<div class="max-w-sm mx-auto mt-28">
  <h1 class="mb-4 text-2xl font-semibold text-center text-blue-600 dark:text-green-400">Anki Books</h1>
  <%= form_with(url: login_path, local: true) do |form| %>
    <div class="">
      <%= form.label :email, class: "block font-semibold my-2" %>
      <%= form.email_field :email, class: "w-full rounded-md px-3", name: "session[email]" %>
    </div>
    <div>
      <%= form.label :password, class: "block font-semibold my-2" %>
      <%= form.password_field :password, class: "w-full rounded-md px-3", name: "session[password]" %>
    </div>
    <div class="w-full text-center my-1">
      <%= form.submit "Log in", class: "action-link text-blue-600 hover:text-blue-800 dark:text-green-400 hover:dark:text-green-600 rounded-md p-1" %>
    </div>
  <% end %>
</div>
