<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<div class="max-w-96 mx-auto">
  <h1 class="text-center">Anki Books</h1>
  <%= form_with(url: login_path, local: true) do |form| %>
    <%= form.label :email %>
    <%= form.email_field :email, autocomplete: "username", class: "w-full", name: "session[email]", required: true %>

    <%= form.label :password %>
    <%= form.password_field :password, autocomplete: "current-password", class: "w-full", name: "session[password]", required: true %>

    <%= form.submit "Log in", id: "login", class: "action" %>
  <% end %>
</div>
