<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2025 Kyle Rego %>

<%= form_with url: article_cloze_notes_path(@article.id),
              method: :post,
              scope: :cloze_note,
              id: "note-form" do |form| %>
  <div class="mt-2">
    <%= form.label :text, class: "form-label" %>
    <%= form.text_area :text, class: "form-control", required: true %>
  </div>

  <div class="mt-2">
    <%= form.label :extra, class: "form-label" %>
    <%= form.text_area :extra, class: "form-control", required: true %>
  </div>
<% end %>
