<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<div class="flex flex-col sm:flex-row">
  <div class="sm:w-8/12" data-controller="set-top-under-nav">
    <% if logged_in? %>
      <div class="sticky top-8 z-50 bg-white flex-row justify-end" data-set-top-under-nav-target="element">
        <%= link_to("Edit article", edit_article_path(@article), class: "action-link") %>
      </div>
    <% end %>
    <%= @article.content %>
  </div>

<% if logged_in? || @basic_notes.any? %>
  <div class="sm:w-4/12" data-controller="set-top-under-nav">
    <%# The id attribute here is used to POST the right article_id param to articles#change_note_ordinal_position %>
    <%# The divs with class reorderable-basic-note-unit must be direct children of this container %>
    <div id="article-notes-<%= @article.id %>"
        class="sm:max-height-calc-from-screen sm:sticky sm:ml-4
                sm:overflow-x-auto sm:overflow-y-scroll h-full max-h-full reorderable-basic-note-units-container"
                data-set-top-under-nav-target="element">

      <% if logged_in? && !@use_book_version %>
        <%= render "articles/basic_note/first_new_basic_note_link" %>
      <% end %>

      <% @basic_notes&.each do |basic_note| %>
        <% @basic_note = basic_note %>
        <% if @use_book_version %>
          <%= render partial: "books/basic_note/show" %>
        <% else %>
          <%= render partial: "articles/basic_note/show" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
