<%= form_with model: @article do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field" data-controller="article-editor">
    <%= form.label :content %>
    <%= form.rich_text_area :content, data: { article_editor_target: "editor" } %>
  </div>

  <%= form.submit %>
<% end %>
