<% content_for :head do %>
  <%= render "trix_config" %>
<% end %>

<%= form_with(model: @article, url:) do |form| %>
  <div class="field mb-2">
    <%= form.label :title %>
    <%= form.text_field :title, class: "w-full" %>
  </div>

  <div class="field" data-controller="article-editor" data-article-editor-target="editorContainer">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="mt-2">
    <%= form.hidden_field :book_id, value: @book.id %>
    <%= form.submit class: "cursor-pointer font-semibold" %>
  </div>
<% end %>
