<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<% content_for :head do %>
  <%= render "trix_config" %>
<% end %>

<%= form_with(model: @article, url:) do |form| %>
  <div class="my-2">
    <%= form.label :title %>
    <%= form.text_field :title, class: "w-full" %>
  </div>

  <div data-controller="article-editor" data-article-editor-target="editorContainer">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="my-2">
    <%= form.label :reading %>
    <%= form.check_box(:reading, {}) %>
  <div>

  <div class="my-2">
    <%= form.label :writing %>
    <%= form.check_box(:writing, {}) %>
  <div>

  <div class="my-2">
    <%= form.label :complete %>
    <%= form.check_box(:complete, {}) %>
  <div>

  <div class="mt-2">
    <%= form.hidden_field :book_id, value: @book.id %>
    <%= form.submit class: "action" %>
  </div>
<% end %>
