<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<% content_for :page_specific_links do %>
  <li><%= link_to "Manage book", manage_book_path(@book), class: "font-semibold mr-4" %></li>
  <li><%= link_to "Study cards", study_book_cards_path(@book), class: "font-semibold mr-4" %></li>
<% end %>

<h1 class="mt-2 pb-2 border-black-b">
  <%= link_to "Book: #{@book.title}", book_path(@book) %>
</h1>

<% if @parent_book %>
<div class="my-4 pb-4 border-black-b">
  <%= link_to "Parent book: #{@parent_book.title}", book_articles_path(@parent_book) %>
</div>
<% end %>

<div class="my-4 pb-4 border-black-b">
  <h4>Articles:</h4>
  <div class="my-2">
    <%= link_to "New article", new_book_article_path(@book), class: "action" %>
  </div>
  <% @articles.each do |article| %>
    <div>
      <%= link_to article.title, article_path(article) %>
      <% if article.complete %>
        <%= render partial: "layouts/heroicons/check", locals: { css_class: "vertical-align-text-bottom inline w-5 h-5" } %>
      <% end %>
    </div>
  <% end %>
</div>

<% if @child_books.any? %>
  <div class="my-4 pb-4 border-black-b">
    <h4 class="mb-2">Children books:</h4>
    <% @child_books.each do |child_book| %>
      <div><%= link_to child_book.title, book_articles_path(child_book) %></div>
    <% end %>
  </div>
<% end %>
