<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<% content_for :page_specific_links do %>
  <%= link_to "Manage book", manage_book_path(@book), class: "font-semibold mr-4" %>
  <%= link_to "Study cards", study_book_cards_path(@book), class: "font-semibold mr-4" %>
<% end %>

<h2><%= link_to @book.title, book_path(@book), class: "text-black" %></h2>

<% if @domains.any? %>
  <div class="my-4 pb-4 border-b-2">
    <h4 class="pb-2">Domains:</h4>
    <% @domains.each do |domain| %>
      <div><%= link_to domain.title, domain_path(domain) %></div>
    <% end %>
  </div>
<% end %>

<div class="my-4">
  <h4 class="pb-2">Articles:</h4>
  <% @articles.each do |article| %>
    <div><%= link_to article.title, article_path(article) %></div>
  <% end %>
</div>

<div class="mt-4">
  <%= link_to "New article", new_book_article_path(@book), class: "action-link" %>
</div>
