<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<% content_for :page_specific_links do %>
  <%= link_to @book.title, book_articles_path(@book), class: "font-semibold mr-4" %>
<% end %>

<h1>Manage article:</h1>

<h2 class="mt-2 pb-2 border-black-b">
  <%= link_to @article.title, article_path(@article) %>
</h2>

<div class="mt-4 pb-4 border-black-b">
  <h3 class="mb-4">Change book:</h3>
  <%= form_with(model: @article, url: change_article_book_path(@article)) do |form| %>
    <div>
      <%= select_tag("book_id",
                      options_from_collection_for_select(@user_other_books, :id, :title),
                      prompt: "Select a book",
                      title: "Move the article to a different book") %>
    </div>
    <%= form.submit "Move article to selected book", class: "action mt-4" %>
  <% end %>
</div>

<% if @article_basic_notes.any? %>
  <div class="mt-4 pb-4 border-black-b">
    <h3 class="mb-4">Transfer basic notes to a different article:</h3>
    <%= form_with(model: @article, url: article_transfer_basic_notes_path(@article)) do |form| %>
      <% @article_basic_notes.each do |basic_note| %>
        <div class="mb-4">
          <%= label_tag(basic_note.id) do %>
            <%= check_box_tag("basic_note_ids[]", basic_note.id, nil, id: basic_note.id) %>
            <span class="mr-4"><%= basic_note.front %></span>
            <span><%= basic_note.back %></span>
          <% end %>
        </div>
      <% end %>
      <div>
        <%= select_tag("target_article_id",
                        options_from_collection_for_select(@book_other_articles, :id, :title),
                        prompt: "Select an article",
                        title: "Move basic notes to a different article") %>
      </div>
      <%= form.submit "Move basic notes to selected article", class: "action mt-4" %>
    <% end %>
  </div>

  <div class="mt-4 pb-4 border-black-b">
    <h3 class="mb-4">Delete basic notes:</h3>
    <div class="flex flex-wrap">
      <% @article_basic_notes.each do |basic_note| %>
        <div class="border-black text-center p-2 m-1">

          <div class="border-black-b p-1"><%= basic_note.front %></div>
          <div class="p-1"><%= basic_note.back %></div>

          <div>
            <%= button_to "Delete",
              article_basic_note_path(@article, basic_note),
              class: "danger-link",
              method: :delete,
              form: { data: { turbo_confirm: "Are you sure you want to delete #{basic_note.front.first(200)}...?"} } %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="mt-4">
  <%= button_to "Delete article: #{@article.title}",
    article_path(@article),
    class: "danger-link",
    method: :delete,
    form: { data: { turbo_confirm: "Are you sure you want to delete #{@article.title}?"} } %>
</div>
