<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<section class="article-section w-full break-anywhere" data-controller="set-top-under-nav">
  <div class="sticky z-50 bg-white" data-set-top-under-nav-target="element">
    <%= link_to("#{@book.title}", book_articles_path(@book), class: "mr-4") if @book %>
    <%= link_to("#{@article.title}", article_path(@article), class: "mr-4") %>
    <% if logged_in? %>
      <%= link_to("Edit article", edit_article_path(@article), class: "action mr-4") %>
      <%= link_to("Manage article", manage_article_path(@article), class: "action mr-4") %>
    <% end %>
    <% if @article.basic_notes.any? %>
      <%= link_to("Study cards", study_article_cards_path_helper(article: @article), class: "action") %>
    <% end %>
  </div>

  <div class="flex flex-row-sm-col">
    <div class="article-content-area min-w-2-3 flex-grow-2">
      <%= @article.content_without_cloze_markers %>
    </div>
    <% if logged_in? || @basic_notes.any? %>
      <div class="basic-notes-area min-w-1-3 flex-grow-1 ml-1">
        <%# The id attribute here is used to POST the right article_id param to articles#change_note_ordinal_position %>
        <%# The divs with class reorderable-basic-note-unit must be direct children of this container %>
        <div id="article-notes-<%= @article.id %>"
            class="max-h-screen position-sticky-sm-static overflow-y-auto-sm-scroll
                    reorderable-basic-note-units-container flex flex-col justify-start">

          <% if logged_in? && !@use_book_version %>
            <%= render "articles/basic_note/first_new_basic_note_link" %>
          <% end %>

          <% @basic_notes&.each do |basic_note| %>
            <% @basic_note = basic_note %>
            <% if @use_book_version %>
              <%= render partial: "books/basic_note/show" %>
            <% else %>
              <%= render partial: "articles/basic_note/show" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
