<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<%= content_for :action_bar_content do %>
  <div class="d-flex justify-content-center column-gap-5">

    <div class="btn-group">
      <% if logged_in? %>
        <%= link_to("Edit article",
                    edit_article_path(@article),
                    class: "btn btn-primary text-white",
                    data: { turbo_frame: "modal" }) %>
        
      <% end %>
    </div>

    <div class="btn-group">
      <% if logged_in? %>
        <%= link_to("New note",
                    new_note_path(@article, note_type: "BasicNote"),
                    class: "btn btn-primary text-white",
                    data: { turbo_frame: "modal" }) %>
      <% end %>
      <% if @article.basic_notes.any? %>
        <%= link_to("Study cards", study_article_cards_path_helper(article: @article), class: "btn btn-primary text-white") %>
      <% end %>
    </div>

  </div>
<% end %>

<%= render "layouts/modal_frame" %>

<section class="article-section w-full break-anywhere h-100">
  <nav class="mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% if @book %>
        <li class="breadcrumb-item"><%= link_to("#{@book.title}", book_articles_path(@book)) %></li>
      <% end %>
      <li class="breadcrumb-item active" aria-current="page">
        <span class="d-flex align-items-center column-gap-1">
          <%= @article.title %>
          <%= link_to manage_article_path(@article), title: "Manage article" do %>
            <%= render "layouts/heroicons/gear", css_class: "w-5 h-5" %> 
          <% end %>
           
        </span>
      </li>
    </ol>
  </nav>

  <div class="d-flex flex-md-row flex-col">
    <div class="min-w-2-3 flex-grow-2" data-controller="highlight">
      <turbo-frame id="article" target="_top">  
        <%= @article.content %>
      </turbo-frame>
    </div>

    <% if logged_in? || @notes.any? %>
      <%# The id attribute here is used to POST the right article_id param to articles#change_note_ordinal_position %>
      <%# The divs with class reorderable-note-unit must be direct children of this container %>
      <div id="article-notes-<%= @article.id %>"
          class="position-sticky sm-position-static overflow-y-auto sm-overflow-y-scroll
                  min-w-1-3 flex-grow-1 ml-1
                  reorderable-note-units-container flex flex-col justify-start">

        <% if !@use_book_version %>
          <%= render partial: "articles/note/new_ordinal_position_zero_note" %>
        <% end %>
        <% @notes.each do |note| %>
          <% @note = note %>
          <%= render partial: "articles/note/show_with_new_note_links_below" %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
