<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<section class="article-section w-full break-anywhere" data-controller="set-top-under-nav">
  <div class="position-sticky z-50 bg-white article-nav" data-set-top-under-nav-target="element">
    <%= link_to("#{@book.title}", book_articles_path(@book), class: "mr-4") if @book %>
    <%= link_to("#{@article.title}", article_path(@article), class: "mr-4") %>
    <% if logged_in? %>
      <%= link_to("Edit article", edit_article_path(@article), class: "action mr-4") %>
      <%= link_to("Manage article", manage_article_path(@article), class: "action mr-4") %>
    <% end %>
    <% if @article.basic_notes.any? %>
      <%= link_to("Study cards", study_article_cards_path_helper(article: @article), class: "action") %>
    <% end %>
  </div>

  <div class="flex flex-row sm-flex-col" data-controller="article-notes-position-setter">
    <div class="min-w-2-3 flex-grow-2" data-article-notes-position-setter-target="content">
      <%= @article.content %>
    </div>
    <% if logged_in? || @notes.any? %>
      <%# The id attribute here is used to POST the right article_id param to articles#change_note_ordinal_position %>
      <%# The divs with class reorderable-note-unit must be direct children of this container %>
      <div id="article-notes-<%= @article.id %>" data-article-notes-position-setter-target="notes"
          class="position-sticky sm-position-static overflow-y-auto sm-overflow-y-scroll
                  min-w-1-3 flex-grow-1 ml-1
                  reorderable-note-units-container flex flex-col justify-start">

        <% if !@use_book_version %>
          <%= render partial: "articles/note/new_ordinal_position_zero_note" %>
        <% end %>
        <% @notes.each do |note| %>
          <% @note = note %>
          <%= render partial: "articles/note/show_with_new_note_links_below" %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
