<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<% content_for :page_specific_links do %>
  <% if logged_in? && current_user.can_access_article?(article: @article) %>
    <%= link_to "Manage article", manage_article_path(@article), class: "font-semibold mr-4" %>
    <%= link_to("#{@book.title}", book_articles_path(@book), class: "font-semibold mr-4") %>
  <% end %>
  <% if @article.basic_notes.any? %>
    <%= link_to("Study cards", study_article_cards_path_helper(article: @article), class: "font-semibold mr-4") %>
  <% end %>
<% end %>

<% if logged_in? %>
  <div class="sticky top-8 z-50 bg-white flex-row justify-end">
    <%= link_to("Edit article", edit_article_path(@article), class: "action-link") %>
  </div>
<% end %>

<%= render partial: "articles/content" %>
