<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<div class="mx-auto text-center">

  <div data-controller="study-cards">

    <div class="mt-16">
      <% if @article %>
        <%= link_to "Back to article", back_to_article_path(@article),
                    class: "cursor-pointer text-blue-500 hover:text-blue-600 font-semibold" %>
      <% elsif @book %>
        <%= link_to "Back to book", book_articles_path(@book),
              class: "cursor-pointer text-blue-500 hover:text-blue-600 font-semibold" %>
      <% elsif @domain %>
        <%= link_to "Back to domain", domain_path(@domain),
              class: "cursor-pointer text-blue-500 hover:text-blue-600 font-semibold" %>
      <% end %>
    </div>

    <% css_class_for_div_wrapping_studiable_notes = "w-96 mx-auto #{logged_in? ? "mt-6 mb-2" : "my-6"}" %>
    <div class="<%= css_class_for_div_wrapping_studiable_notes %>">
      <% @basic_notes&.each do |basic_note| %>
        <% @basic_note = basic_note %>
        <div class="studiable-note" hidden>
          <%= render partial: "study_cards/basic_note" %>
        </div>
      <% end %>
    </div>

    <div class="m-auto w-max flex flex-row">
      <span data-study-cards-target="studyPreviousCard"
              class="mr-4 cursor-pointer text-blue-500 hover:text-blue-600 font-semibold"
              hidden>Previous card</span>
      <span data-study-cards-target="startStudyWithFirstCard"
            class="mr-4 cursor-pointer text-blue-500 hover:text-blue-600 font-semibold">First card</span>
      <span data-study-cards-target="startRandomOrderStudy"
            class="cursor-pointer text-blue-500 hover:text-blue-600 font-semibold">Random order</span>
      <span data-study-cards-target="studyNextCard"
              class="cursor-pointer text-blue-500 hover:text-blue-600 font-semibold"
              hidden>Next card</span>
    </div>
  </div>

</div>
