<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<%= turbo_frame_tag (@previous_sibling&.new_next_note_sibling_after_note_turbo_id || Note.new_ordinal_position_zero_note_turbo_id), class: "new-note-turbo-frame" do %>

  <div data-controller="new-notes--new-cloze-note" data-new-notes--new-cloze-note-target="newClozeNoteFormContainer">
    <div class="mx-auto">
      <%= form_tag(article_cloze_notes_path(@article), class: "contents") do %>
        <div class="border-black text-center mx-auto px-4 mr-6 pb-2 pt-6 my-1">

          <%= render "errors" %>

          <%= label_tag :text, nil, class: "hidden" %>
          <%= text_area_tag :text, @cloze_notes_text, class: "w-full h-24", required: true %>

          <%= submit_tag "Create cloze notes", class: "action" %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
