<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<h1>Downloads</h2>

<div class="my-2">
  <%= link_to "Create and download new Anki deck", user_download_anki_deck_path, data: { turbo: "false" }, class: "action" %>
</div>

<div class="my-3">
  <%= link_to "Queue job to update Anki deck", user_update_anki_deck_path, data: { turbo: "false" }, class: "action" %>
</div>

<% if current_user.anki_package.attached? %>
<div class="my-3">
  <%= link_to "Download Anki deck previously created by job (#{current_user.anki_package.created_at})",
      rails_blob_path(current_user.anki_package, disposition: "attachment"),
      data: { turbo: "false" }, class: "action" %>
</div>
<% end %>

<div class="my-3">
  <%= link_to "Download books data", download_books_data_path, data: { turbo: "false" }, class: "action" %>
</div>

<div class="my-3">
  <%= link_to "Download articles data", download_articles_data_path, data: { turbo: "false" }, class: "action" %>
</div>

<div class="my-3">
  <%= link_to "Download concepts data", download_concepts_data_path, data: { turbo: "false" }, class: "action" %>
</div>

<div class="my-3">
  <%= link_to "Download basic notes data", download_basic_notes_data_path, data: { turbo: "false" }, class: "action" %>
</div>

<div class="my-3">
  <%= link_to "Download cloze notes data", download_cloze_notes_data_path, data: { turbo: "false" }, class: "action" %>
</div>

<div class="my-3">
  <%= link_to "Download cloze notes concepts data", download_cloze_notes_concepts_data_path, data: { turbo: "false" }, class: "action" %>
</div>
