<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2025 Kyle Rego %>

<%= turbo_frame_tag @note.turbo_dom_id, class: "existing-basic-note-turbo-frame" do %>
<div class="reorderable-note-unit">
            <div data-controller="notes-reordering--note-dropzone">
              <div data-notes-reordering--note-dropzone-target="dropzone"
                    class="note-droppable-area">
  <div class="d-flex column-gap-1">
    <div class="min-w-0 flex-1">
      <div data-controller="notes-reordering--draggable-note">
        <div draggable="true"
          data-notes-reordering--draggable-note-target="note"
          data-notes-reordering--note-dropzone-target="dropzoneNote">
          <% if @note.instance_of?(BasicNote) %>
            <% @basic_note = @note %>
            <%= render partial: "articles/basic_note/flippable_basic_note" %>
          <% elsif @note.instance_of?(ClozeNote) %>
            <% @cloze_note = @note %>
            <%= render partial: "articles/cloze_note/revealable_cloze_note" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="flex-shrink flex flex-col wm-vertical-lr <%= logged_in? ? "" : "visibility-hidden" %>">
      <div class="text-center">
        <% if @note.instance_of?(BasicNote) %>
          <%= link_to("Edit",
                      edit_note_path(@article, @note, note_type: BasicNote.name),
                      class: "dropdown-item #{"disabled" unless logged_in? }",
                      data: { turbo_frame: "modal" }) %>
        <% elsif @note.instance_of?(ClozeNote) %>
          <%= link_to("Edit",
                      edit_note_path(@article, @note, note_type: ClozeNote.name),
                      class: "dropdown-item #{"disabled" unless logged_in? }",
                      data: { turbo_frame: "modal" }) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
            </div>
          </div>
<% end %>
