<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<% content_for :page_specific_links do %>
  <%= link_to @domain.title, domain_path(@domain), class: " action-link mr-4" %>
<% end %>

<h1 class="text-4xl font-bold">
  Manage domain: <%= @domain.title %>
</h1>

<div class="mt-4 pb-4 border-b-2">
  <%= link_to "Edit domain", edit_domain_path(@domain), class: "action-link" %>
</div>

<div class="mt-4 pb-4 border-b-2">
  <h2 class="text-xl action-link mb-4">
    Books:
  </h2>
  <div class="p-4 lg:max-w-4xl border-2 shadow-lg">
    <%= form_with(model: @domain, url: change_domain_books_path(@domain)) do |form| %>
      <% @books_options.each do |book_option| %>
        <div class="mb-2">
          <%= label_tag(book_option[:title]) do %>
            <%= check_box_tag("book_ids[]", book_option[:id], book_option[:selected], id: book_option[:id]) %>
            <span><%= book_option[:title] %></span>
          <% end %>
        </div>
      <% end %>
      <%= form.submit "Update Books", class: "action-link" %>
    <% end %>
  </div>
</div>

<div class="change-child-domains-area">
  <div class="mt-4 pb-4 border-b-2">
    <h2 class="text-xl action-link mb-4">
      Child domains:
    </h2>
    <div class="p-4 lg:max-w-4xl border-2 shadow-lg">
      <%= form_with(model: @domain, url: change_child_domains_path(@domain)) do |form| %>
        <% @child_domains_options.each do |domain_option| %>
          <div class="mb-2">
            <%= label_tag(domain_option[:title]) do %>
              <%= check_box_tag("child_domain_ids[]", domain_option[:id], domain_option[:selected], id: domain_option[:id]) %>
              <span><%= domain_option[:title] %></span>
            <% end %>
          </div>
        <% end %>
        <%= form.submit "Update Child Domains", class: "action-link" %>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-4">
  <%= button_to "Delete #{@domain.title}",
    domain_path(@domain),
    class: "text-red-500 hover:text-red-600 action-link",
    method: :delete,
    form: { data: { turbo_confirm: "Are you sure you want to delete #{@domain.title}?"} } %>
</div>
