<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<% content_for :page_specific_links do %>
  <%= link_to "Manage domain", manage_domain_path(@domain), class: "font-semibold mr-4" %>
  <%= link_to "Study cards", study_domain_cards_path(@domain), class: "font-semibold mr-4" %>
<% end %>

<h2>
  <%= @domain.title %>
</h2>

<% if @parent_domain %>
<div class="mt-4 pb-4 border-b-2">
  <%= link_to "Parent domain (#{@parent_domain.title})", domain_path(@parent_domain) %>
</div>
<% end %>

<% if @child_domains.any? %>
  <div class="mt-4 pb-4 border-b-2">
    <h4 class="pb-2">Child domains:</h4>
    <% @child_domains.each do |domain| %>
      <div>
        <%= link_to domain.title, domain_path(domain) %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @books.any? %>
  <div class="mt-4 pb-4 border-b-2">
    <h4 class="pb-2">Books:</h4>
    <% @books.each do |book| %>
      <div>
        <%= link_to book.title, book_articles_path(book) %>
      </div>
    <% end %>
  </div>
<% end %>
