<% content_for :page_specific_links do %>
  <%= link_to "Manage domain", manage_domain_path(@domain), class: "text-blue-500 hover:text-blue-600 font-semibold mr-4" %>
<% end %>

<h1 class="text-4xl font-bold">
  <%= @domain.title %>
</h1>

<div class="mt-4 pb-4 border-b-2">
  <h2 class="pb-2 text-xl font-semibold">Books:</h2>
  <% @books.each do |book| %>
    <div>
      <%= link_to book.title, book_path(book), class: "text-blue-500 hover:text-blue-600" %>
    </div>
  <% end %>
</div>

<div class="mt-4 pb-4 border-b-2">
  <h2 class="pb-2 text-xl font-semibold">Parent domains:</h2>
  <% @parent_domains.each do |domain| %>
    <div>
      <%= link_to domain.title, domain_path(domain), class: "text-blue-500 hover:text-blue-600" %>
    </div>
  <% end %>
</div>

<div class="mt-4 pb-4 border-b-2">
  <h2 class="pb-2 text-xl font-semibold">Child domains:</h2>
  <% @child_domains.each do |domain| %>
    <div>
      <%= link_to domain.title, domain_path(domain), class: "text-blue-500 hover:text-blue-600" %>
    </div>
  <% end %>
</div>
