<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<% book_node_has_children = @book_node.books.any? %>
<% data_controller = book_node_has_children ? "book-link-tree-node" : "" %>

<div data-controller="<%= data_controller %>">

  <%= link_to book_path(@book_node),
      class: "list-group-item list-group-item-action border-start-0 border-end-0" do %>
      <div class="d-flex justify-content-between align-items-center column-gap-3">
        <div class="d-flex justify-content-start column-gap-3 align-items-center">
          <% if book_node_has_children %>
          
            <button
                data-book-link-tree-node-target="expandButton"
                data-action="click->book-link-tree-node#showHiddenChildBookLinkNodes" title="Expand tree node" type="button">
              <%= render partial: "layouts/heroicons/plus", locals: { css_class: "vertical-align-text-bottom inline w-5 h-5" } %>
            </button>

            <button
                data-book-link-tree-node-target="unexpandButton"
                data-action="click->book-link-tree-node#hideShownChildBookLinkNodes" title="Unexpand tree node" type="button" hidden>
              <%= render partial: "layouts/heroicons/minus", locals: { css_class: "vertical-align-text-bottom inline w-5 h-5" } %>
            </button>
          <% end %>

          <%= @book_node.title %>
        </div>

        <% if @book_node.allow_anonymous %>
          <%= render partial: "layouts/heroicons/lock_open", locals: { css_class: "vertical-align-text-bottom inline w-5 h-5" } %>
        <% end %>
      </div>
  <% end %>

  <% if book_node_has_children %>
    <div class="ml-4 list-group" data-book-link-tree-node-target="childrenBookLinkNodes" hidden>
      <% @book_node.books.order(:title).each do |inner_book| %>
        <% @book_node = inner_book %>
        <% @tree_depth += 1 %>

        <%= render "book_link_tree_node" %>

      <% end %>
    </div>
  <% end %>

</div>
