<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<%= content_for :action_bar_content do %>
<div class="d-flex justify-content-center column-gap-5">
  <div class="btn-group">
      <%= link_to "New book", new_book_path,
        class: "btn btn-outline-primary",
        data: { turbo_frame: "modal" } %>
  </div>
</div>
<% end %>

<%= render "layouts/modal_frame" %>

<h1 class="my-4" id="books-index-heading">Your Books</h1>

<div class="text-center my-2 d-flex justify-content-center column-gap-5 flex-wrap-reverse row-gap-3">
  <div class="card card-body " id="alphabetical-books-index">
    <h3 class="card-title fs-2">Alphabetical 🔠</h3>

    <div class="list-group list-group-flush">
      <% @books.each do |book| %>
        <%= link_to book_path(book), class: "list-group-item list-group-item-action" do %>
          <div class="d-flex justify-content-between column-gap-3 align-items-center">
            <%= book.title %>
            <% if book.allow_anonymous %>
              <%= render partial: "layouts/heroicons/lock_open", locals: { css_class: "vertical-align-text-bottom inline w-5 h-5" } %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card card-body" id="tree-books-index">
    <h3 class="card-title fs-2">Tree 🎋</h3>

    <div class="list-group list-group-flush">
      <% @root_books.each do |book| %>
        <% @book_node = book %>
        <% @tree_depth = 0 %>
        <%= render "book_link_tree_node" %>
      <% end %>
    </div>
  </div>
</div>
