<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<% content_for :page_specific_links do %>
  <li><%= link_to @book.title, book_path(@book), class: "font-semibold mr-4" %></li>
<% end %>

<h2>Manage book: <%= @book.title %></h2>

<div class="mt-4 pb-4 border-black-b">
  <%= link_to "Edit book", edit_book_path(@book), class: "action" %>
</div>

<div class="mt-4 pb-4 border-black-b">
  <h3 class="mb-4">Change parent book:</h3>
  <%= form_with(model: @book, url: change_parent_book_path(@book)) do |form| %>
    <div>
      <%= select_tag("parent_book_id",
                      options_from_collection_for_select(@user_other_books, :id, :title),
                      prompt: "Select a book",
                      title: "Select a parent book",
                      include_blank: "No parent") %>
    </div>
    <%= form.submit "Update parent book", class: "action mt-4" %>
  <% end %>
</div>

<% if @articles.count > 1 %>
<div class="mt-4 pb-4 border-black-b">
  <%# TODO: Why is this id needed %>
  <h3 id="<%= "book-#{@book.id}" %>" class="mb-4">
    Reorder articles:
  </h3>
  <% @articles.each do |article| %>
    <div class="reorderable-unit">
      <div data-controller="reorder-articles--article-draggable">
        <div data-reorder-articles--article-draggable-target="article" draggable=true id="<%= article.id %>" class="cursor-pointer">
          <%= article.title %>
        </div>
      </div>
      <div data-controller="reorder-articles--article-dropzone">
        <div data-reorder-articles--article-dropzone-target="dropzone" class="py-2"></div>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<% if @user_other_books.any? && @articles.any? %>
<div class="mt-4 pb-4 border-black-b">
  <h3 class="mb-4">Transfer articles to a different book:</h3>
  <%= form_with(model: @book, url: book_transfer_articles_path(@book)) do |form| %>
    <% @articles.each do |article| %>
      <div class="mb-4">
        <%= label_tag(article.id) do %>
          <%= check_box_tag("article_ids[]", article.id, nil, id: article.id) %>
          <span><%= article.title %></span>
        <% end %>
      </div>
    <% end %>
    <div>
      <%= select_tag("target_book_id",
                      options_from_collection_for_select(@user_other_books, :id, :title),
                      prompt: "Select a book",
                      title: "Select a book to move articles to") %>
    </div>
    <%= form.submit "Move articles to selected book", class: "action mt-4" %>
  <% end %>
</div>
<% end %>

<% if @user_other_books.any? %>
<div id="update-child-books-area" class="mt-4 pb-4">
  <h3 class="mb-4">Update child books:</h3>
  <%= form_with(model: @book, url: update_child_books_path(@book)) do |form| %>
    <% @user_other_books.each do |book| %>
      <div class="mb-2">
        <%= label_tag(book[:title]) do %>
          <%= check_box_tag("child_book_ids[]", book[:id], nil, id: book[:id]) %>
          <span><%= book[:title] %></span>
        <% end %>
      </div>
    <% end %>
    <%= form.submit "Update child books", class: "action" %>
  <% end %>
</div>
<% end %>
