<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<%= render "layouts/modal_frame" %>

<% content_for :action_bar_content do %>
  <div class="d-flex justify-content-center">
    <div class="btn-group">
      <% if logged_in? %>
        <%= link_to "New article",
                  new_book_article_path(@book),
                  class: "btn btn-primary text-white",
                  data: { turbo_frame: "modal" } %>
      <% end %>

      <%= link_to "Study cards", study_book_cards_path(@book), class: "btn btn-primary text-white" %>
    </div>
  </div>
<% end %>

<%# TODO: Show entire breadcrumbs to root book %>
<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% if @parent_book %>
      <li class="breadcrumb-item"><%= link_to("#{@parent_book.title}", book_path(@parent_book)) %></li>
    <% end %>
    <li class="breadcrumb-item active" aria-current="page">
      <div class="d-flex align-items-center column-gap-3">
        <span class="flex-grow-1"><%= @book.title %></span>
        <% if logged_in? %>
          <%= link_to manage_book_path(@book), title: "Manage book" do %>
            <%= render "layouts/heroicons/gear", css_class: "w-5 h-5" %> 
          <% end %>

          <%= link_to edit_book_path(@book), 
                      title: "Edit book",
                      data: { turbo_frame: "modal" } do %>
            <%= render "layouts/heroicons/pen", css_class: "w-5 h-5" %>
          <% end %>
        <% end %>
      </div>
    </li>
  </ol>
</nav>

<div class="mt-4 d-flex column-gap-5 flex-wrap-reverse row-gap-3">
  <div class="">
    <h1>Articles:</h1>
    <div class="list-group list-group-flush">
      <% @articles.each do |article| %>
          <%= link_to article_path(article), class: "list-group-item list-group-item-action" do %>
              <%= article.title %>
              <% if article.complete %>
                <%= render partial: "layouts/heroicons/check", locals: { css_class: "vertical-align-text-bottom inline w-5 h-5" } %>
              <% end %>
          <% end %>
      <% end %>
    </div>
  </div>

  <% if @child_books.any? %>
    <div>
      <h3>Child books:</h3>
      <div class="list-group list-group-flush">
        <% @child_books.each do |child_book| %>
          <%= link_to book_path(child_book),
                  class: "list-group-item list-group-item-action" do %>
            <%= child_book.title %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
