<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<div class="mx-auto">
  <%= form_with model: [@article, @basic_note], url:, class: "contents" do |form| %>
    <div class="border-black text-center mx-auto px-4 mr-6 pb-2 pt-6 my-1">

      <%= render "errors" %>

      <%= form.label :front, class: "hidden" %>
      <%= form.text_area :front, class: "w-full", required: true %>

      <%= form.label :back, class: "hidden" %>
      <%= form.text_area :back, class: "w-full", required: true %>

      <% on_study_cards_value = @on_study_cards ? "true" : "false" %>
      <%= hidden_field :options, :on_study_cards, value: on_study_cards_value %>

      <%= form.submit class: "action" %>
    </div>
  <% end %>
</div>
