<%= form_with model: [@article, @basic_note], url:, class: "contents" do |form| %>
  <div class="border border-blue-400 bg-blue-50 text-blue-900
              font-semibold text-center
              py-3 px-4 my-4">
    <%= render "errors" %>

    <div>
      <%= form.label :front %>
      <%= form.text_area :front, class: "w-full" %>
    </div>

    <div>
      <%= form.label :back %>
      <%= form.text_area :back, class: "w-full" %>
    </div>

    <div class="inline">
      <%= form.submit %>
    </div>

  </div>
<% end %>
