<% if @previous_sibling %>

  <%= turbo_stream.replace @previous_sibling.new_sibling_note_turbo_id do %>
    <%# TODO: This is repeated and could be made a partial %>
    <%= turbo_frame_tag @previous_sibling.new_sibling_note_turbo_id, class: "new-note-turbo-frame" do %>
      <%= link_to "New note", new_article_basic_note_path(@article), class: "font-semibold" %>
    <% end %>
  <% end %>

  <%= turbo_stream.after @previous_sibling.turbo_id do %>
    <%= render template: "basic_notes/show" %>
  <% end %>

<% else %>

  <%= turbo_stream.replace first_new_basic_note_turbo_id do %>
    <%# TODO: This is repeated and could be made a partial %>
    <%= turbo_frame_tag first_new_basic_note_turbo_id, class: "new-note-turbo-frame" do %>
      <div>
        <%= link_to "New note", new_article_basic_note_path(@article), class: "font-semibold" %>
      </div>
    <% end %>

    <%= render template: "basic_notes/show" %>
  <% end %>

<% end %>