<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<% if logged_in? && current_user.can_access_note?(note: @basic_note) %>
  <div class="reorderable-basic-note-unit" data-controller="new-inserted-reorderable-unit">
    <%= turbo_frame_tag @basic_note.turbo_id, class: "existing-basic-note-turbo-frame min-w-max" do %>
      <div data-controller="reorder-basic-notes--basic-note-dropzone">
        <div data-controller="reorder-basic-notes--basic-note-draggable">
          <div class="draggable-div-of-note" draggable="true"
                data-reorder-basic-notes--basic-note-draggable-target="note">
            <%= render partial: "basic_notes/flippable_basic_note" %>
          </div>
        </div>

        <div data-reorder-basic-notes--basic-note-dropzone-target="editDropzone" class="note-droppable-area">
          <%= render partial: "basic_notes/edit_basic_note_link" %>
        </div>
          
        <div data-reorder-basic-notes--basic-note-dropzone-target="newDropzone" class="note-droppable-area">
          <%= render partial: "basic_notes/sibling_new_basic_note_link", locals: { previous_sibling: @basic_note } %>
        </div>

      </div>
    <% end %>
  </div>
<% else %>
  <%= render partial: "basic_notes/flippable_basic_note" %>
<% end %>
