<% basic_note ||= @basic_note %>
<%= turbo_frame_tag turbo_name_for_basic_note(basic_note) do %>
  <div data-controller="basic-note" class="studiable-note" <%= "hidden" if on_study_cards? %>>

      <div class="w-full cursor-pointer py-3 px-2
                  border border-blue-400 bg-blue-50
                  font-semibold text-center draggable-div-of-note" data-basic-note-target="note" draggable="<%= logged_in? && !on_study_cards? %>">

        <div>
          <span class="whitespace-pre-wrap"><%= basic_note.front %></span>
        </div>

        <div data-basic-note-target="back"
             class="border-t border-blue-400 mt-2 pt-2"
             hidden>
          <span class="whitespace-pre-wrap"><%= basic_note.back %></span>
        </div>

      </div>

      <% unless on_study_cards? %>
        <div class="note-droppable-area min-h-8" data-controller="note-droppable-area" data-note-droppable-area-target="dropzone">

            <% if logged_in? %>

              <div class="flex flex-row justify-between">
                <%= link_to "Edit", edit_article_basic_note_path(basic_note.article.id, basic_note), class: "font-semibold" %>

                <%= turbo_frame_tag turbo_frame_for_new_basic_note do %>
                  <%= link_to "New note", new_article_basic_note_path(@article), class: "font-semibold" %>
                <% end %>
              </div>

            <% end %>

        </div>
      <% end %>

  </div>
<% end %>
