<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<% content_for :page_specific_links do %>
  <%= link_to @concept.name, concept_path(@concept), class: "font-semibold mr-4" %>
<% end %>

<h2>Manage concept: <%= @concept.name %></h2>

<div class="mt-4 pb-4 border-b-2">
  <%= link_to "Edit concept", edit_concept_path(@concept), class: "action-link" %>
</div>

<div class="mt-4 pb-4 border-b-2">
  <h3 class="mb-4">Change parent concept:</h3>
  <%= form_with(model: @concept, url: change_parent_concept_path(@concept)) do |form| %>
    <div>
      <%= select_tag("parent_concept_id",
                      options_from_collection_for_select(@user_other_concepts, :id, :name),
                      prompt: "Select a concept",
                      title: "Select a parent concept") %>
    </div>
    <%= form.submit "Update parent concept", class: "action-link mt-4" %>
  <% end %>
</div>
