<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<% if notice.present? %>
  <p class="flex justify-between items-center rounded-md
            border text-center mx-auto p-1 max-w-96 bg-light-green"
     data-controller="flash-messages"
     data-flash-messages-target="message">
    <span class="flex flex-col justify-center">
      <%= render partial: "layouts/heroicons/check", locals: { css_class: "vertical-align-text-bottom inline w-5 h-5" } %>
    </span>
    <span class="font-normal-medium">
      <%= notice %>
    </span>
    <button class="flex flex-col justify-center cursor-pointer"
          data-flash-messages-target="closeIcon"
          title="Dismiss">
      <%= render "layouts/heroicons/x_mark" %>
    </button>
  </p>
<% end %>

<% if alert.present? %>
  <p class="flex justify-between items-center rounded-md
            border text-center mx-auto p-1 max-w-96 bg-red"
     data-controller="flash-messages"
     data-flash-messages-target="message">
    <span class="flex flex-col justify-center p-1">
      <%= render "layouts/heroicons/exclamation_triangle" %>
    </span>
    <span class="font-normal-medium">
      <%= alert %>
    </span>
    <button class="flex flex-col justify-center cursor-pointer p-1"
          data-flash-messages-target="closeIcon"
          title="Dismiss">
      <%= render "layouts/heroicons/x_mark" %>
    </button>
  </p>
<% end %>
