<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<nav class="py-2">
  <div class="flex justify-end flex-wrap-reverse">

    <%= yield :page_specific_links %>

    <% if logged_in? %>

      <% if show_link_to_book_in_top_nav?(book: @book) %>
        <%= link_to("#{@book.title}", book_articles_path(@book), class: "font-semibold mr-4")  %>
      <% end %>

      <% if show_link_to_my_books_in_top_nav? %>
        <%= link_to("Books", books_path, class: "font-semibold mr-4") %>
      <% end %>

      <% if show_link_to_domains_in_top_nav? %>
        <%= link_to("Domains", domains_path, class: "font-semibold mr-4") %>
      <% end %>

      <% if show_link_to_root_domains_in_top_nav? %>
        <%= link_to("Root domains", root_domains_path, class: "font-semibold mr-4") %>
      <% end %>

      <% if show_link_to_downloads_in_top_nav? %>
        <%= link_to("Downloads", downloads_path, class: "font-semibold mr-4") %>
      <% end %>

      <%= link_to("Random article", user_random_article_path, class: "font-semibold mr-4") %>

      <%= link_to "Logout", logout_path, data: { "turbo-method": :delete }, class: "font-semibold" %>

    <% elsif current_page?(login_path) %>
      <%= link_to "Home", root_path, class: "font-semibold" %>
    <% else %>
      <%= link_to "Login", login_path, class: "font-semibold" %>
    <% end %>

  </div>
</nav>
