<nav class="py-2">
  <div class="flex justify-end">

    <% if !current_page?(root_path) %>
      <%= link_to "Home", root_path, class: "text-blue-500 hover:text-blue-600 font-semibold" %>
    <% end %>

    <% if @article&.notes_count&.positive? && !on_study_cards? %>
      <%= link_to("Study cards", article_study_cards_path(@article, title: @article.title), class: "text-blue-500 hover:text-blue-600 font-semibold ml-4") %>
    <% end %>

    <% if logged_in? %>
      <%= link_to("My articles", user_articles_path(current_user), class: "text-blue-500 hover:text-blue-600 font-semibold ml-4") unless current_page?(user_articles_path(current_user)) %>
      <%= link_to "Logout", logout_path, data: { "turbo-method": :delete }, class: "text-blue-500 hover:text-blue-600 font-semibold ml-4" %>
    <% elsif !current_page?(login_path) %>
      <%= link_to "Login", login_path, class: "text-blue-500 hover:text-blue-600 font-semibold ml-4" %>
    <% end %>
  
  </div>
</nav>
