<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Anki Books</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render "layouts/favicon" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
  </head>

  <body class="bg-white dark:bg-gray-900 text-black dark:text-gray-50">
    <%= render "layouts/top_nav" %>
    <main class="sm:px-8 px-4 pb-4 flex-col">
      <%= render "layouts/flash_messages" %>
      <%= yield %>
    </main>
  </body>
</html>
