<%# Anki Books, a note-taking app to organize knowledge, %>
<%# is licensed under the GNU Affero General Public License, version 3 %>
<%# Copyright (C) 2023 Kyle Rego %>

<!DOCTYPE html>
<html lang="en">
  <head data-controller="trix-config">
    <% if @html_page_title %>
      <title><%= @html_page_title %></title>
    <% else %>
      <title>Anki Books</title>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render "layouts/favicon" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body class="bg-white">
    <%= render "layouts/top_nav" %>

    <main class="container">
      <%= render "layouts/flash_messages" %>
      <%= yield %>
    </main>
  </body>
</html>
